Для ввода данных в программу используется функция **input()**. Функция считывает одну строку.

Вот программа, которая считывает имя пользователя и приветствует его:

In [1]:
print('Как вас зовут?')
name = input()  # считываем строку и кладём её в переменную name
print('Здравствуйте, ' + name + '!')

Как вас зовут?
Andrey
Здравствуйте, Andrey!

Напишите программу, которая считывает два числа и выводит их сумму. 
Для этого считаем два числа и сохраним их в переменные a и b, пользуясь оператором присваивания =. 
Выполните представленные ниже инструкции: a=3, b=4

In [2]:
a = input()
b = input()
c = a + b
print(c)

3
4
34

Результат работы программы: 34. Однако в реальной жизни 3 + 4 = 7. 
Это произошло потому, что Питон в третьей строчке «сложил» две строки, а не два числа. 

В Питоне все данные называются объектами. 
Число 2 представляется объектом «число 2», строка 'hello' – это объект «строка 'hello'».

Каждый объект относится к какому-то типу. 
Строки хранятся в объектах типа **str**, целые числа хранятся в объектах типа **int**, 
дробные числа (вещественные числа) — в объектах типа **float**. 
Тип объекта определяет, какие действия можно делать с объектами этого типа. 
Например, если в переменных **first** и **second** лежат объекты типа **int**, то их можно перемножить, 
а если в них лежат объекты типа **str**, то их перемножить нельзя:

In [3]:
first = 5
second = 7
print(first * second)
first = '5'
second = '7'
print(first * second)

35

TypeError: ignored

Чтобы преобразовать строку из цифр в целое число, воспользуемся функцией **int()**. Например, int('23') вернет число 23.
Вот пример правильной программы, которая считывает два числа и выводит их сумму:

In [4]:
a = int(input())
b = int(input())
s = a + b
print(s)

3
4
7

Рассмотрим следующий пример: извлечение квадратного корня

In [5]:
sqrt(4)

NameError: ignored

Извлечение квадратного корня не входит в комплект математических операций, доступных в Python по умолчанию, 
поэтому попытка выполнить инструкцию привела к ошибке. 

NameError: name 'sqrt' is not defined 
    
Для определения данной функции необходимо подключить соответствующую библиотеку    

Это можно сделать разными способами.

In [6]:
import math
math.sqrt(4)

2.0

После того, как модуль math импортирован, вы можете узнать, какие ещё в нём есть функции. 
В IPython Notebook для этого достаточно ввести имя модуля, поставить точку и нажать кнопку «Tab». Вот, например, синус:

In [7]:
math.sin(0)

0.0

Приведенный синтаксис может оказаться неудобным, если вам часто приходится вызывать какие-то математические функции. 
Чтобы не писать каждый раз слово «math», можно импортировать из модуля конкретные функции.

In [0]:
from math import sqrt

In [9]:
sqrt(4)

2.0

Вещественные числа в программировании не так просты. Вот, например, посчитаем синус числа π:

In [10]:
from math import pi, sin
sin(pi)
# думаете, получится 0? Ха-ха!

1.2246467991473532e-16

Непонятный ответ? Во-первых, это так называемая компьютерная форма экспоненциальной записи чисел. 
Она удобна, если нужно уметь записывать очень большие или очень маленькие числа: 
1.2E2 означает 1,2⋅102, то есть 1200, а 2.4e-3 — то же самое, что 2,4⋅10−3=0,0024. 
Результат, посчитанный Python для sinπ, имеет порядок 10−16 — это очень маленькое число, близкое к нулю. 
Почему не «настоящий» ноль? 
Все вычисления в вещественных числах делаются компьютером с некоторой ограниченной точностью, 
поэтому зачастую вместо «честных» ответов получаются такие приближенные. К этому надо быть готовым.

# Переменные

Понятие «переменной» в программировании похоже на аналогичное понятие в математике. 
Переменная — это ячейка памяти, обозначаемая каким-то именем. 
В этой ячейке могут храниться числа, строки и более сложные объекты. 
Мы пока поработаем немножко с числовыми переменными.

In [11]:
x = 4
x

4

В отличие, например, от языков C или Паскаль, 
в Питоне не нужно как-то специально объявлять переменную — достаточно просто присвоить ей значение, и можно пользоваться!

In [12]:
x + 2

6

In [0]:
x = x + 2

С математической точки зрения, приведенная выше строчка кажется бессмыслицей — равенством, которое никогда не является верным. 
С точки зрения программирования, это команда, которая говорит «вычисли значение того, 
что стоит в правой части равенства, и присвой то, что получилось, переменной, стоящей в левой части равенства». 
Если вы знакомы с языком Pascal, вы бы написали «:=» вместо «=», 
но в Питоне используется синтаксис, более похожий на C — одиночное равенство означает операцию присвоения значения.

In [14]:
x

6

Переменные могут хранить не только числа, но и другие данные.

# Ввод данных

Работа в Jupyter / IPython Notebook редко требует писать код, который сам по себе запрашивает данные с клавиатуры, 
но для других приложений (и в частности для домашних работ) это может потребоваться. 
К тому же, написание интерактивных приложений само по себе забавное занятие. 
Напишем, например, программу, которая здоровается с нами по имени.

In [15]:
name = input("Введите ваше имя: ")
print("Привет,",name)

Введите ваше имя: Андрей
Привет, Андрей

Что здесь произшло? В первой строчке мы использовали функцию input. 
Она вывела на экран строчку, которую ей передали (обязательно в кавычках) и запросила ответ с клавиатуры. 
Указали своё имя. После чего **input** вернула строчку "_________" и эта строчка была присвоена переменной name. 
После этого во второй строке была вызвана функция **print** и ей были переданы две строчки — "Привет," и то, 
что хранилось в переменной **name**. 
Функция **print** вывела эти две строчки последовательно, разделив пробелом. 
Заметим, что в переменной name по-прежнему лежит та строчка, которую мы ввели с клавиатуры.

In [16]:
name

'Андрей'

Попробуем теперь написать программу «удвоитель». 
Она должна будет принимать на вход число, удваивать его и возвращать результат. (x=12)

In [17]:
x = input("Введите какое-нибудь число: ")
print(x*2)

Введите какое-нибудь число: 5
55

Что-то здесь не то. Конечно, в некотором смысле компьютер сделал то, что мы его просили — было одно число 12, 
а стало два, но мы-то хотели чего-то другого. Почему так получилось? Дело в том, 
что input всегда возращает строку (он же не знает, что мы введём — цифлы или какие-то другие символы; 
он не понимает, что в запросе сказан «Введите какое-нибудь число» — для него это просто какая-то строка). 
И в переменной x сейчас не число 12, а строка '12' (обратите внимание на апострофы).

In [18]:
x

'5'

Чтобы работать с ним как с числом, надо его превратить из строкового типа в числовой. 
Например, если мы хотим работать только с целыми числами, то подходящим будет тип **int** (от слова integer, целое число).

In [19]:
int(x)

5

Видите, апострофов нет — это уже число. Слово int это одновременно и обозначение типа данных (целые числа) и функция, 
которая превращает то, что ей передали в качестве аргумента, в указанный тип данных.

Перепишем программу-удвоитель следующим образом:

In [20]:
x_str = input("Введите какое-нибудь число: ")
x = int(x_str)
print(x*2)

Введите какое-нибудь число: 6
12

Совсем другое дело! Теперь в x_str лежит строчка, которую мы ввели, в x помещается результат её преобразования в целое число, 
и дальше это число удваивается и выводится на экран. Можно было бы не вводить дополнительную переменную (и сэкономить строчку):

Попробуем ещё раз. Введите х = 12.34

In [0]:
x = int(input("Введите какое-нибудь число: "))
print(x*2)

Вы попробовали ввести число 12.34 (нецелое) и Python не смог привести его в типу **int** 
(то есть сделать из строчки "12.34" целое число и выдал ошибку. 
Если бы мы хотели работать с нецелыми числами, 
нам нужно было использовать тип **float** (от слова float, плавать — обозначает плавающую точку).

Попробуем ещё раз.

In [21]:
x = float(input("Введите какое-нибудь число (не обязательно целое): "))
print(x*2)

Введите какое-нибудь число (не обязательно целое): -3.5
-7.0

In [0]:
a = 1 # первое число
b = 1 # второе число
i = 2 # номер того числа, которое находится в переменной b (сейчас это a_2)

Мы будем хранить два последних числа, поскольку именно они определяют следующее, 
а также номер последнего найденного числа (переменная i).

In [23]:
c = a + b # нашли следующее число
i = i + 1 # увеличили i на 1
a = b   # значение a нам уже не нужно, а вот значение b ещё пригодится
b = c   # запомнили вычисленное значение
print(i, b)

3 2

Питон выполняет команды последовательно, строчку за строчкой, поэтому порядок следоавния команд очень важен. 
Выполняя эту ячейку несколько раз, вы будете получать каждый раз очередное число Фибоначчи.

**Контрольный вопрос**. Что произойдёт, если мы поменяем местами две строчки до print?

In [24]:
# Повторим этот код ещё раз

c = a + b # нашли следующее число
i = i + 1 # увеличили i на 1
a = b   # значение a нам уже не нужно, а вот значение b ещё пригодится
b = c   # запомнили вычисленное значение
print(i, b)

4 3

In [25]:
# И ещё раз

c = a + b # нашли следующее число
i = i + 1 # увеличили i на 1
a = b   # значение a нам уже не нужно, а вот значение b ещё пригодится
b = c   # запомнили вычисленное значение
print(i, b)

5 5

In [26]:
# И ещё раз

c = a + b # нашли следующее число
i = i + 1 # увеличили i на 1
a = b   # значение a нам уже не нужно, а вот значение b ещё пригодится
b = c   # запомнили вычисленное значение
print(i, b)

6 8

**Совет**: Можно было не копироать эту ячейку с кодом много раз, а просто запускать одну и ту же ячейку неколько раз. 

Проще всего это сделать с помощью комбинации Ctrl+Enter.

# Практическое задание № 1
Вычислите 2 в 179 стпени. Выведите на экран вычисленное значение.

In [27]:
print(2**179)

766247770432944429179173513575154591809369561091801088

# Практическое задание № 2
Запишите слово Python 100 раз подряд. Сдайте на проверку программу, которая выводит эту строчку (только буквы, без кавычек).

**Подсказка:** Попробуйте умножить строку на число. Что получится?

In [28]:
print('Python'*100)

PythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPython

# Практическое задание № 3
Дано два числа: a и b. Найдите гипотенузу треугольника с заданными катетами.

**Входные данные**
В двух строках вводятся два числа (числа целые, положительные, не превышают 1000).

**Выходные данные**
Выведите ответ на задачу.

**Пример**

Входные данные

3

4

Выходные данные

5.0

In [29]:
a = int(input('First number:'))
b = int(input('Second number:'))
print('Hypothenus is ', sqrt(a*a + b*b))

First number:3
Second number:4
Hypothenus is  5.0

# Практическое задание № 4
N школьников делят K яблок поровну, неделящийся остаток остается в корзинке. Сколько яблок достанется каждому школьнику?

**Входные данные**
Программа получает на вход числа N и K.

**Выходные данные**
Программа должна вывести искомое количество яблок.

**Примеры**

Входные данные

3

14

Выходные данные

4

In [33]:
n = int(input('N:'))
k = int(input('K:'))
print(k//n)

N:5
K:21
4

# Практическое задание № 5
Дано трехзначное число. Найдите сумму его цифр.

**Входные данные**
Вводится целое положительное число. Гарантируется, что оно соответствует условию задачи.

**Выходные данные**
Выведите ответ на задачу.

**Пример**

Входные данные

179

Выходные данные

17

In [40]:
num = int(input('Enter number:'))
print(num%10+num//100 + ((num//10)%10))

Enter number:412
7